***Simple Python Calculator***

In [9]:
num1 = float(input('Enter first number: '))
operator = input('Choose an operator between + - / *: ')
num2 = float(input('Enter second number: '))

if operator == '+':
    print(num1 + num2)
elif operator == '-':
    print(num1-num2)
elif operator == '/':
    print(num1/num2)
elif operator == '*':
    print(num1*num2)
else:
    print('invalid operator')

Enter first number: 66.5
Choose an operator between + - / *: /
Enter second number: 2.4
27.708333333333336

***Strings***

In [25]:
# common functions
phrase = 'Data Science'
print(phrase.lower())
print(phrase.upper())
print(phrase.upper().isupper())
print(phrase.lower().islower())
print(len(phrase))
print(phrase[5:])
print(phrase[0:4])
print(phrase.index('S'))
print(phrase.replace('Science', 'Analytics'))

data science
DATA SCIENCE
True
True
12
Science
Data
5
Data Analytics

***Numbers***

In [27]:
# modulus operator
print(10%2) # 0 remainder

0

In [28]:
# when printing a number next to a string
my_num = 10
print('My favourite number is ' + str(my_num))

My favourite number is 10

In [29]:
# absolute value
print(abs(-10))

10

In [30]:
print(pow(4,6))

4096

In [31]:
print(max(5,5,6,7,8))

8

In [32]:
print(round(3.5))

4

In [33]:
from math import *

In [34]:
print(sqrt(81))

9.0

***Getting input from user***

In [13]:
name = input('Enter your name: ')
age = input('Enter your age: ')
print('Hello ' + name + '!' ' Your are ' + age + ' years old.')

Enter your name: h
Enter your age: 5
Hello h! Your are 5 years old.

***Rebuilding calculator***

In [14]:
num1 = float(input('Enter first number: '))
operator = (input("Choose an operator from '+' '-' '/' '*': "))
num2 = float(input('Enter second number: '))

if operator == '+':
    print(num1+num2)
elif operator == '-':
    print(num1-num2)
elif operator == '/':
    print(num1/num2)
elif operator == '*':
    print(num1*num2)
else:
    print('invalid operator')

Enter first number: 67
Choose an operator from '+' '-' '/' '*': /
Enter second number: 4
16.75


***Mad libs Game***

In [21]:
Colour = input('Enter a colour: ')
Plural_noun = input('Enter a plural noun: ')
Celebrity = input('Enter a celebrity: ')


print('Roses are ' + Colour)
print(Plural_noun + ' are blue')     
print('I love ' + Celebrity)

Enter a colour: blue
Enter a plural noun: juul
Enter a celebrity: mcgregor
Roses are blue
juul are blue
I love mcgregor

In [ ]:
num1 = float(input('Enter a number: '))
operator = input('Enter an operator: ')
num2 = float(input('Enter your second number: '))

if operator == '+':
    print(num1+num2)
elif operator == '-':
    print(num1-num2)
elif operator == '/':
    print(num1/num2)
elif operator == '*':
    print(num1*num2)
else:
    print('invalid operator, try again! ')

***Lists***

In [5]:
friends = ['Kevin','Karen','Jim']
print(friends[2])

Jim

In [2]:
print(friends[0:2])

['Kevin', 'Karen']

In [3]:
lucky_numbers = [3,5,6]

In [5]:
friends.extend(lucky_numbers)
print(friends)

['Kevin', 'Karen', 'Jim', 3, 5, 6, 3, 5, 6]

In [16]:
print(friends)

['Kevin', 'Karen', 'Jim', 3, 5, 6, 3, 5, 6, 'creed']

In [17]:
friends.pop()
print(friends)

['Kevin', 'Karen', 'Jim', 3, 5, 6, 3, 5, 6]

In [18]:
friends.index('Jim')

2

In [19]:
friends.count(3)

2

In [25]:
new_friends = ['Kevin','Karen','Jim','Jake','Chris']
new_friends.sort()
print(new_friends)

['Chris', 'Jake', 'Jim', 'Karen', 'Kevin']

In [26]:
new_friends = ['Kevin','Karen','Jim','Jake','Chris']
new_friends.reverse()
print(new_friends)

['Chris', 'Jake', 'Jim', 'Karen', 'Kevin']

In [27]:
friends2 = new_friends.copy()
print(friends2)

['Chris', 'Jake', 'Jim', 'Karen', 'Kevin']

***Tuples - immutable***

In [28]:
coordinates = (5,8)
print(coordinates[1])

8

***Functions***

In [38]:
def say_hi(name,age):
    print('Hello '+ name + ', you are ' + str(age))
say_hi('Akbar',24)

Hello Akbar, you are 24

In [43]:
def cube_num(num):
    return pow(num,3)
result = cube_num(10)
print(result)

1000

***IF statements***

In [54]:
is_male = False
is_hungry = True

if is_male and is_hungry:
    print('You are a hungry male')
elif is_male and not(is_hungry):
    print('you are not hungry and a male')
elif not(is_male) and is_hungry:
    print('you are hungry and not a male')
else:
    print('You are not male and not hungry')

you are hungry and not a male

In [55]:
# write a function that outputs the maximum number from 3 numbers:
def max_num(num1,num2,num3):
    if num1>=num2 and num1>=num3:
        return num1
    elif num1>=num1 and num2>=num3:
        return num2
    else:
        return num3

In [57]:
print(max_num(5,6,7))

7

***Dictionaries***

In [58]:
monthConversions = {'Jan':'January',
                    'Feb':'February',
                   'Mar':'March',
                   'Apr':'April'}

In [59]:
print(monthConversions['Feb'])

February

***While loop***

In [61]:
i = 1
while i<=10:
    print(i*i*i)
    i+=1
print('done with loop')

1
8
27
64
125
216
343
512
729
1000
done with loop

In [ ]:
# guessing game 
secret_word = 'secret'
guess = ''
guess_count = 0
guess_limit = 3
out_of_guesses=False

while guess!=secret_word and not(out_of_guesses):
    if guess_count<=guess_limit:
        guess=input('Enter guess: ')
        guess_count+=1
    else:
        out_of_guesses=True
    
if out_of_guesses:
    print('You lose')
else:
    print('You win')

***For loops***

In [1]:
for letter in 'Data Science':
    print(letter)

In [7]:
for index in range(len(friends)):
    print(friends[index])

Kevin
Karen
Jim

In [13]:
# exponent functions

def exp_func(num,pow_num):
    result=1
    for index in range(pow_num):
        result=result*num
    return result

In [15]:
exp_func(5,3)

125

***2D lists and nested loops***

In [20]:
list_of_list = [[1,2,3],
                [4,5,6],
                [7,8,9],
                [0]]

In [21]:
for row in list_of_list:
    print(row)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[0]

In [23]:
for row in list_of_list:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

***Translator***

In [31]:
# giraffe language, where every vowel is g

def translator(phrase):
    result =''
    for letter in phrase:
        if letter.lower() in 'aeiou':
            result.replace(letter,'g')
    return result

In [32]:
translator('dog')

''

***CodingBat***

In [35]:
def string_times(string,num):
    return(string*num)

In [36]:
string_times('hi',2)

'hihi'

In [39]:
def hello_name(name):
    return('hello '+name+'!')

In [40]:
hello_name('Alex')

'hello Alex!'

In [69]:
def first_last_six(nums):
    if nums[0] ==6 or nums[-1] == 6:
        return True
    else:
        return False

In [73]:
first_last_six([6,5,4])

True

In [90]:
def double_char(string):
    to_return=''
    for letters in string:
        to_return+=letters*2
    return to_return

In [91]:
double_char('The')

'TThhee'

In [97]:
def cont_evens(nums):
    count = 0
    for i in nums:
        if i%2 == 0:
            count+=1
    return count

In [98]:
cont_evens([4,5,6])

2

In [99]:
text='levelhead llama'

In [110]:
text.capitalize()

'Levelhead llama'